$imagenindex:url("../assets/imagenes/cafe de hernan 30 30.jpg");
$imagenindexcafe:url("../assets/imagenes/cafe de hernan.jpg");
$imagente:url("../assets/imagenes/beneficiosdelte.jpg");
$imagenindexlogo:url("../assets/imagenes/cafe imagen logo.jfif");
$imagenindexcapsulas:url("../assets/imagenes/capsulas.jpg");
$imagencafe:url("../assets/imagenes/granos de cafe.jpg");


// tambien colocar colores
$color_contacto:greenyellow;
$color_acerca:rgba(250, 7, 238, 0.158);
$color_acercab:crimson;
$color_article:rgba(137, 43, 226, 0);
$color_menu:rgba(205, 240, 234, 1);
$color_ofer:rgba(255, 127, 80, 0.164);
$color_prom:rgba(0, 0, 255, 0.37);
$color_pres:rgba(0, 17, 255, 0.096);
$color_cuerpo:lightgray;
$color_navbar:rgb(241, 245, 18);
$color_tipo: rgba(165, 87, 42, 0.068);
$color_img:rgba(137, 43, 226, 0.089);
$color_imagen:rgba(0, 255, 255, 0.068);
$color_inicio:rgba(246, 198, 234, 1);
$color_footer:yellowgreen;

